html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  background-color: #002b36;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}

body {
  margin: 0;
}

p,
ul,
li {
  color: #fdf6e3;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #859900;
}

a:hover {
  color: #2aa198;
}

img {
  height: 50vh;
  width: auto;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #b58900;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #2aa198;
}

.main {
  padding-left: 2.75em;
  padding-right: 2.75em;
  padding-bottom: 6em;
}

.page-title {
  color: #859900;
  margin-top: 6rem;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
}

.home-nav {
  margin-left: auto;
}

.menu-list-li img {
  width: auto;
  height: 3rem;
  background-color: #2aa198;
  margin-right: 8px;
}

.menu-list-li a.logo {
  font-size: large;
  font-weight: 600;
}

.menu-list-li a .my-name {
  font-weight: 300;
  background-color: #2aa198;
  margin-left: 5px;
  font-size: 9px;
}

.menu-list-li a.logo:hover {
  background-color: #2aa198;
  color: #002b36;
}

.header .menu-list-ul {
  display: flex;
  background-color: #2aa198;
  height: 3rem;
  width: 100%;
  margin: 0;
  padding-right: 40px;
  box-shadow: 0 4px 2px -2px #b58900;
  border-radius: 0 0 10px 10px;
  position: fixed;
  top: 0;
}

.menu-list-ul .menu-list-li.active a {
  color: #b58900;
  background-color: #011d24;
}

.menu-list-li a {
  padding: 0rem 1rem;
  align-items: center;
  display: flex;
  line-height: 3rem;
  background-color: #2aa198;
  color: #002b36;
}

.menu-list-li a:hover {
  background-color: #011d24;
  color: #2aa198;
}

.ingredients-list li {
  list-style-type: disc;
}

.instructions-list li {
  list-style-type: decimal;
}

.recipe-cards {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dish-card {
  display: flex;
  width: 40vw;
  align-items: center;
  border: 2px solid #b58900;
  padding: 10px;
  margin: 10px 10px 10px 0;
  border-radius: 10px 50px;
  background-color: #011d24;
  flex-wrap: wrap;
}

.dish-card:hover {
  border: 2px solid #859900;
  box-shadow: 1px 2px 5px 0px #859900;
}

.dish-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  display: block;
  box-shadow: 1px 2px 5px 0px #859900;
  margin-right: 8px;
  border-radius: 10px 40px 10px 10px;
}

.dish-content {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.time-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 10px;
}

.prep-time h3 {
  margin-bottom: 4px;
}

.dish-content h2 {
  margin-bottom: 5px;
  text-decoration: underline #859900;
  margin: auto;
}

.dish-content p {
  margin-top: 5px;
  text-align: justify;
}

.prep-time p {
  margin-top: 4px;
}

.time-container,
.dish-time,
.dish-content,
.dish-content h2,
.dish-content h3,
.dish-content p,
.dish-content .prep-time {
  background-color: transparent;
}

.button {
  color: #002b36;
  background-color: #b58900;
  border: 1px solid #b58900;
  padding: 20px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.button:hover {
  color: #fdf6e3;
  background-color: #859900;
  border: 1px solid #859900;
}
